<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/liangtianwang/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="liangtianwang" />
      <add key="ClearTextPassword" value="177a7e9fd460fc325df39236309ad9b6b515d280" />
    </github>
  </packageSourceCredentials>
</configuration>